//
//  Test.xcconfig
//  SwiftTemplate
//
//  Created by zaharijepasalic on 5/24/18.
//  Copyright © 2018 Klika d.o.o. Sarajevo. All rights reserved.
//
BUNDLE_NAME = Swift Template
PRODUCT_BUNDLE_IDENTIFIER = com.klika.SwiftTemplate.Test
PRODUCT_BUNDLE_VERSION = 1.0.0
PRODUCT_BUNDLE_BUILD = 1

IS_APP_ICON = AppIconTest

// Configuration
appCenterId = 4d3bd120-f1ef-4e31-909a-ce0587e170e6

serverProto = http
serverUrl = localhost:3000

apiClient = 85ea9f8b77dbe079810f848832f079f05e27a821c3132bc98f71a95c0f58e584
apiSecret = aab62f79371cec7b6f86eaaecf773fdb74789bf93fbf0f49a008d140d16dcfde
